<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Technical interview questions</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div class="container text-center">
    <h1>Edit technical interview question:</h1>
</div>
<div class="form-style-5">
    <fieldset>
        <form action="#" th:action="@{/api/v1/questions}" th:object="${technicalInterview}" method="POST">
            <fieldset>
                <legend><span class="number">INFO</span>Edit technical interview question:</legend>
                <div style="display: inline-block;">
                    <strong><label class="formSpacing" id="id_title">Title of question:</label></strong>
                    <input class="inputWidth1" type="text" th:field="*{id}" id="id_name_input" name="taskId"
                           required
                           minlength="1"
                           maxlength="255" placeholder="Title of question *" hidden="hidden">
                </div>
                <div style="display: inline-block;">
                    <strong><label class="formSpacing" id="label_title">Title of question:</label></strong>
                    <input class="inputWidth1" type="text" th:field="*{taskName}" id="task_name_input" name="taskName"
                           required
                           minlength="1"
                           maxlength="255" placeholder="Title of question *">
                </div>
                <div style="display: inline-block; margin-left:20px">
                    <strong><label class="formSpacing" id="label_description">Description of question:</label></strong>
                    <input class="inputWidth1" type="text" th:field="*{description}" id="description_input"
                           name="description" required
                           minlength="1"
                           maxlength="255" placeholder="Description of question *">
                </div>
                <div style="display: inline-block; margin-left:15px">
                    <input type="submit" id="button_add_question" value="Add question"/>
                </div>
            </fieldset>
        </form>
    </fieldset>
</div>
</body>
</html>