<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Technical interview questions</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <nav role='navigation'>
        <div id="menuToggle">
            <input type="checkbox"/>
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
                <a href="#" id="link_about" th:onclick="openModal()">
                    <li>About</li>
                </a>
            </ul>
        </div>
    </nav>
</div>
<div class="modal hidden">
    <form action="/api/v1/subscribes" method="POST">
        <button class="close-modal">&times;</button>
        <h1>I'm a modal window 😍</h1>
        <p>
            This is a modal window for a technical interview application.
        </p>
        <div>
            <p>
                This is input filed for subscribe.
            </p>
            <input type="text" name="email" id="email" minlength="1"
                   maxlength="25" placeholder="email for subscribe"
                   pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+$" required/>
            <br>
            <input type="submit" value="Subscribe">
        </div>
    </form>
</div>
</div>
<div class="overlay hidden"></div>
<div class="form-style-5">
    <form th:action="@{/api/v1/questions}" th:object="${questions}" method="GET">
        <fieldset>
            <legend><span class="number">1.</span>List of technical interview questions</legend>
            <div style="display: inline-block; margin-left:15px">
                <input type="submit" id="list_of_questions" value="List of questions"/>
            </div>
        </fieldset>
    </form>
</div>
<div class="form-style-5">
    <fieldset>
        <legend><span class="number">2.</span>Sign-In</legend>
        <div style="display: inline-block; margin-left:15px">
            <input type="submit" id="login_page" value="Sign-In" onclick="location.href='/login'"/>
        </div>
    </fieldset>
</div>
<div class="form-style-5">
    <form action="/api/v1/users/register" method="GET">
        <fieldset>
            <legend><span class="number">3.</span>Sign-Up</legend>
            <div style="display: inline-block; margin-left:15px">
                <input type="submit" id="register_page" value="Sign-up"/>
            </div>
        </fieldset>
    </form>
</div>
<div class="form-style-5">
    <fieldset>
        <legend><span class="number">4.</span>Help</legend>
        <div style="display: inline-block; margin-left:15px">
            <input type="submit" id="help_page" value="Help" onclick="return alert('Default user is: guest/guest ')"/>
        </div>
    </fieldset>
</div>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
</html>
