<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Technical interview questions</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body>
<div>
    <nav role='navigation'>
        <div id="menuToggle">
            <input type="checkbox"/>
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
                <a href="/logout">
                    <li>Logout</li>
                </a>
                <a href="/api/v1/admin/users">
                    <li>Admin</li>
                </a>
            </ul>
        </div>
    </nav>
</div>
<div class="container text-center">
    <h1>Technical interview questions.</h1>
</div>
<div class="form-style-5">
    <form action="/api/v1/questions" method="POST">
        <fieldset>
            <legend><span class="number">1.</span>Add technical interview questions:</legend>
            <div style="display: inline-block;">
                <strong><label class="formSpacing" id="label_title">Title of question:</label></strong>
                <input class="inputWidth1" type="text" id="task_name_input" name="title" required
                       minlength="1"
                       maxlength="255" placeholder="Title of question *">
            </div>
            <div style="display: inline-block; margin-left:20px">
                <strong><label class="formSpacing" id="label_description">Description of
                    question:</label></strong>
                <input class="inputWidth1" type="text" id="description_input" name="description" required
                       minlength="1"
                       maxlength="255" placeholder="Description of question *">
            </div>
            <div style="display: inline-block; margin-left:15px">
                <input type="submit" id="button_add_question" value="Add question"/>
            </div>
        </fieldset>
    </form>
</div>
<div class="form-style-5">
    <form action="/api/v1/questions/upload" method="POST" enctype="multipart/form-data">
        <legend><span class="number">2.</span>Upload technical interview questions:</legend>
        <div style="display: inline-block; margin-left:20px">
            <label class="formSpacing" id="label_add_json">Add JSON file:</label>
            <input type="file" id="upload_file" name="file"
                   accept="application/JSON, text/csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
        </div>
        <div style="display: inline-block; margin-left:15px">
            <input type="submit" id="upload_questions" value="Upload questions"/>
        </div>
        </fieldset>
    </form>
</div>
<div class="form-style-5">
    <div class="container text-center">
        <strong>
            <div id="info_message" th:text="${message}">
                <legend><span class="number" id="info_icon">INF</span></legend>
            </div>
        </strong>
    </div>
</div>
<div class="form-style-5">
    <form>
        <fieldset>
            <legend><span class="number">3.</span>Statistics for technical interview questions:</legend>
            <div style="display: inline-block; margin-left:20px">
                <section>
                    <label class="formSpacing" id="label_total">Total:</label>
                    <h1 class="jumbo" id="total_count" th:text="${entityListSize}"></h1>
                </section>
            </div>
            <div style="display: inline-block; margin-left:20px">
                <section>
                    <label class="formSpacing" id="label_pass">Pass:</label>
                    <h1 class="jumbo" id="pass_count" th:text="${pass}"></h1>
                </section>
            </div>
            <div style="display: inline-block; margin-left:20px">
                <section>
                    <label class="formSpacing" id="label_fail">Fail:</label>
                    <h1 class="jumbo" id="fail_count" th:text="${fail}"></h1>
                </section>
            </div>
        </fieldset>
    </form>
</div>
<div class="form-style-5">
    <fieldset>
        <legend><span class="number">4.</span>List of technical interview questions:</legend>
        <div class="container text-center">
            <div>
                <table class="table table-striped table-bordered" id="main_table">
                    <thead class="table-dark">
                    <tr>
                        <td>Title</td>
                        <td>Description</td>
                        <td>Completed</td>
                        <td>Edit question</td>
                        <td>Complete question</td>
                        <td>Delete</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="questions: ${entityList}">
                        <td th:text="${questions.title}"></td>
                        <td th:text="${questions.description}"></td>
                        <td th:text="${questions.isCompleted()}"></td>
                        <td>
                            <form action="#" th:action="@{/api/v1/questions/__${questions.getId()}__/edit}"
                                  method="post">
                                <button class="btn btn-primary">Edit</button>
                            </form>
                        </td>
                        <td>
                            <form action="#" th:action="@{/api/v1/questions/__${questions.getId()}__/complete}"
                                  method="post">
                                <button class="btn btn-primary">Complete</button>
                            </form>
                        <td>
                            <form action="#" th:action="@{/api/v1/questions/__${questions.getId()}__/delete}"
                                  method="post">
                                <button class="btn btn-primary" onclick="return confirm('Are you sure?')">Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </fieldset>
</div>
<div class="form-style-5">
    <fieldset>
        <div style="display: inline-block; margin-left:100px">
            <form action="/api/v1/questions/random" method="GET">
                <div style="display: inline-block; margin-left:15px">
                    <input type="submit" class="btn btn-primary" id="random_button" value="Take random question"/>
                </div>
            </form>
        </div>
        <div style="display: inline-block; margin-right:0px">
            <form action="/api/v1/questions/reset" method="GET">
                <div style="display: inline-block; margin-left:15px">
                    <input type="submit" class="btn btn-primary" id="reset_button" value="Reset all questions"
                           onclick="return confirm('Are you sure?')"/>
                </div>
            </form>
        </div>
        <div style="display: inline-block; margin-right:0px">
            <form action="/api/v1/questions/delete/all" method="GET">
                <div style="display: inline-block; margin-left:15px">
                    <input type="submit" class="btn btn-primary" id="delete_button" value="Delete all questions"
                           onclick="return confirm('Are you sure?')"/>
                </div>
            </form>
        </div>
    </fieldset>
</div>
</body>
</html>