<!DOCTYPE html>
<head xmlns="http://www.w3.org/1999/html">
    <meta charset="ISO-8859-1">
    <title>Your question is:</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div class="right">
    <div>
        <form action="/api/v1/questions" method="GET">
            <div style="display: inline-block; margin-left:15px">
                <input type="submit" id="button_logout" value="To Main Page"/>
            </div>
        </form>
    </div>
</div>
<div class="form-style-5">
    <fieldset>
        <div class="container text-center">
            <div>
                <h1>Your question is:</h1>
            </div>
            <div>
                <table class="table table-striped table-bordered">
                    <thead class="table-dark">
                    <tr>
                        <td>Title</td>
                        <td>Description</td>
                        <td>Completed</td>
                        <td>Do you complete a question?</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="questions: ${randomQuestion}">
                        <td th:text="${questions.taskName}"></td>
                        <td th:text="${questions.description}"></td>
                        <td th:text="${questions.isCompleted()}"></td>
                        <td>
                            <a th:href="@{/api/v1/complete/__${questions.getTaskId()}__}">Complete</a>
                            <br>
                            <a th:href="@{/api/v1/questions}">Not complete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </fieldset>
</div>
</body>
</html>