<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Technical interview questions</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
        function clearForm() {
            document.getElementById("myForm").reset();
        }
    </script>
</head>
<body>
<div class="form-style-5">
    <form action="/api/v1/process_register" method="POST">
        <fieldset>
            <legend><span class="number">INF</span> Please Sign Up</legend>
            <div style="display: inline-block;">
                <strong><label class="formSpacing" for="job">Email:</label></strong>
                <input class="inputWidth1" type="text" name="email" id="email" minlength="1"
                       maxlength="25" placeholder="User Name *"
                       pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+$" required/>
            </div>
            <div style="display: inline-block; margin-left:20px">
                <strong><label for="job">Password:</label></strong>
                <input class="inputWidth1" type="password" name="password" id="password" minlength="6"
                       maxlength="25" placeholder="Password" required>
            </div>
            <div style="display: inline-block;">
                <label class="formSpacing" for="gender">Gender</label>
                <select id="gender" name="gender" required>
                    <option value="">Select a Gender *</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
            </div>
        </fieldset>
        <div style="display: inline-block; margin-left:15px">
            <input type="submit" value="Sign Up">
        </div>
        <div style="display: inline-block; margin-left:85px">
            <input type="button" value=" Clear " onClick="clearForm()">
        </div>
    </form>
</div>
</body>
</html>